:root {
    font-size: 16px;
    font-family: 'Noto Sans TC';
    color: #202124;
}

* {
    box-sizing: border-box;
    user-select: none;
    outline: none;

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;

        &-thumb {
            width: 30px;
            height: 30px;
            border: 4px solid transparent;
            border-radius: 6px;
            background-color: #a0a0a0;
            background-clip: content-box;

            &:hover {
                background-color: #909090;
            }

            &:active {
                background-color: #808080;
            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #0080ff;
    text-decoration: none;
    transition: .25s;

    &:hover, &:focus {
        color: #0060ff;
        text-decoration: underline;
    }

    .external-link-icon {
        font-size: .8em;
    }
}