
.step-container { 
    flex-grow: 1;
    overflow: hidden;
}

.step-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column: 1fr;
    gap: 1rem;
    height: 100%;
    width: 500px;
    height: 400px;
}

.step-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    place-items: center;
    width: 500px;
    height: 400px;
    overflow-y: auto;
}
